//@charset "utf-8";
//@import "../beat-kit/node_modules/bulma/sass/utilities/initial-variables";
//@import "../beat-kit/node_modules/bulma/sass/utilities/functions";
//@import "../beat-kit/node_modules/bulma/bulma.sass";

//$dark-purple: #222741;
//$semi-dark-purple: #242C44;
//$purple: #4C587F;
//$light-purple: #6059E8;

//$primary: $light-purple;
//$link: $light-purple;

// Main site
//$body-background-color: $dark-purple;
//$body-color: white;

// Card modifiers
//$card-color: rgb(203, 190, 216);
//$card-background-color: #4C587F;
//$card-header-color: white;
//$card-header-background-color: #4C587F;
//$card-footer-background-color: #4C587F;

$modal-full-color: white;

.modal-full{
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: $modal-full-color;
}

.modal-full.is-active{
    display: flex;
}

.modal-full-header{
    padding: 10px;
    width: 100%;
    background-color: $modal-full-color;
}

.modal-full-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: none;
    padding: 10px;
}


@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";
@import "./node_modules/bulma/sass/utilities/derived-variables.sass";
@import "./node_modules/bulma/bulma.sass";
